@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:ital,wght@0,300;0,400;0,900;1,300&display=swap");

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #f5f6fa;
  color: #353535;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Lato, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

blockquote,
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  display: flex;
  gap: 20px;
  font-family: "Lato";
  font-size: 16px;
  font-weight: 300;
  list-style-type: none;
  text-transform: uppercase;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #ea4c89;
  font-weight: 400;
}

button {
  border: none;
  border-radius: 5px;
  padding: 8px 10px;
  text-transform: uppercase;
  width: 120px;
}

a,
button {
  cursor: pointer;
  transition: all 0.08s ease;
}

.container {
  margin: 0 auto;
  max-width: 980px;
}

header {
  background-color: #353535;
  color: #f5f6fa;
  height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin: 15px 0;
}

.logo {
  color: #ea4c89;
  font-family: "Abril Fatface";
  font-size: 2.8em;
}

#hero,
#about,
#quote,
#cta {
  display: flex;
  align-items: center;
}

#hero {
  justify-content: space-between;
  gap: 2em;
}

.hero-info {
  display: flex;
  flex-direction: column;
  flex: 1 2 auto;
  height: auto;
  width: 55%;
  text-align: left;
}

.hero-info h1 {
  color: #4cd2ea;
  margin-bottom: 10px;
}

.hero-info button {
  background-color: #4cd2ea;
  margin-top: 15px;
}

.hero-info button:hover {
  background-color: #ea4c89;
  color: #f5f6fa;
}

.hero-img {
  flex: 1 1 auto;
  height: auto;
  width: 45%;
}

#about {
  background-color: #f5f6fa;
  justify-content: center;
  height: 90vh;
  text-align: center;
}

h2 {
  color: #ea4c89;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.product {
  display: flex;
  flex-direction: column;
  padding: 10px;
  max-width: 200px;
}

.product-img {
  border-radius: 10px;
  height: auto;
  margin-bottom: 10px;
  transition: all 0.08s ease;
  width: 200px;
}

#quote,
#cta {
  justify-content: center;
  height: 350px;
}

#quote {
  background-color: #4cd2ea;
}

#quote p {
  font-style: italic;
  font-weight: 300;
}

figcaption {
  font-size: 18px;
  font-weight: 400;
  margin-top: 15px;
  text-align: right;
}

#cta {
  background-color: #f5f6fa;
}

.cta-container {
  background-color: #ea4c89;
  color: #f5f6fa;
  display: flex;
  justify-content: space-between;
  padding: 2em;
  width: 980px;
}

.cta-container button {
  border: 1px solid #f5f6fa;
  background-color: #ea4c89;
  color: #f5f6fa;
}

.cta-container button:hover {
  border: 1px solid #4cd2ea;
  color: #4cd2ea;
}

footer {
  background-color: #353535;
  color: #f5f6fa;
  padding: 1em;
  text-align: center;
}
