@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:ital,wght@0,300;0,400;0,900;1,300&display=swap");

/* Photo by <a href="https://unsplash.com/@picoftasty?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Mae Mu</a> on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
   */
##f5f6fa #2f3640 #353535 #ea4c89 #4cd2ea

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #f5f6fa;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Lato, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 980px;
}

header {
  background-color: #353535;
  color: #f5f6fa;
  height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin: 15px 0;
  outline: 0.5px solid red;
}

ul {
  display: flex;
  gap: 20px;
  font-family: "Lato";
  font-size: 16px;
  font-weight: 300;
  list-style-type: none;
  text-transform: uppercase;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.08s ease-out;
}

a:hover {
  color: #fff;
  font-weight: 400;
}

button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 8px 10px;
  text-transform: uppercase;
  transition: all 0.08s ease;
  width: 120px;
}

.logo {
  color: #ea4c89;
  font-family: "Abril Fatface";
  font-size: 2.8em;
}

#hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  outline: 0.5px solid red
}

.hero-info {
  display: flex;
  flex-direction: column;
  flex: 1 2 auto;
  height: auto;
  width: 55%;
  text-align: left;
}

.hero-info h1 {
  color: #4cd2ea;
  margin-bottom: 10px;
}

.hero-info button {
  background-color: #4cd2ea;
  margin-top: 15px;
}

.hero-info button:hover {
  background-color: #ea4c89;
  color: #f5f6fa;
}

.hero-img {
  flex: 1 1 auto;
  height: auto;
  width: 45%;
}
